@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500,600,700,800&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Raleway", sans-serif;
  color: #1f1f1f;
}
.banner-wrapper {
  margin: 13px 79px 0px 104px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.body-wrapper {
  width: 95%;
  margin: 0 auto;
}
.navbar {
  background: #1e1e1e;
  height: 90px;
}
.banner {
  background: #fff;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 25px;
}
.left-text {
  width: 51%;
  float: left;
}
.left-text h2 {
  font-weight: 800;
  font-size: 58px;
}
.left-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.left-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
}
.right-image-group {
  position: relative;
  width: 40%;
  float: right;
}
.discount-item-group {
  position: absolute;
  left: 54%;
  top: 2%;
}
.blackbubble-item-group {
  position: absolute;
  left: 53.5%;
  top: 48%;
}
.discount-text {
  position: absolute;
  left: 33%;
  top: 36%;
  font-weight: 800;
  font-size: 40px;
  line-height: 47px;
  color: #fff;
}
.discount-text img {
  display: block;
  margin-left: 18px;
}
.blackbubble-text-first,
.blackbubble-text-second {
  position: absolute;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.blackbubble-text-first {
  left: 21%;
  top: 35%;
}
.blackbubble-text-second {
  left: 18%;
  top: 52%;
}

.card-wrapper {
  clear: both;
}
.item-wrapper {
  padding: 10px 0px 20px 0px;
  margin: 0 20px 20px;
}
.image {
  text-align: center;
  overflow: auto;
}
.image img{
  width:100%;
}
.card {
  width: 23%;
  background: #fff;
  float: left;
  margin: 15px;
}
.card:nth-child(4n-3) {
  margin-left: 0;
}
.card:nth-child(4n + 0) {
  margin-right: 0;
}

.card-top-label {
  position: relative;
  background: #55d187;
  text-align: center;
  padding-top: 9px;
  left: 0;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  height: 22px;
  width: 34%;
}
.card-top-label:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 31px;
  left: 97.4%;
  top: 0;
  transform: skewX(-10deg);
  background: #55d187;
}
.description {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 40px 0 12px;
  height:40px;
  width:100%;
}
.name {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0 16px;
  height:25px;
  color:#777777;
}
.price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #55d187;
  text-transform: uppercase;
}
.discount {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
  text-decoration: line-through;
}
.load-more {
  clear: both;
  text-align: center;
}
.btn {
  border: none;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  background: #55d187;
  color: #fff;
  padding: 18px 82px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 49px 0 51px 0;
}

.live-chat {
  width: 49%;
  background: #fff;
  float: left;
  background-image: url("./assets/customercare.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.open-shop {
  float: right;
  width: 49%;
  margin-bottom: 83px;
  background: #fff;
  background-image: url("./assets/readytosell.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.live-chat-text {
  position: relative;
  margin-left: 14%;
  padding-top: 50px;
  width: 30%;
}

.open-shop-text {
  position: relative;
  margin-left: 14%;
  padding-top: 44px;
  padding-bottom: 7px;
  width: 33%;
}
.title {
  display: block;
  font-weight: 800;
  font-size: 49px;
  line-height: 57px;
}

.item {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.instructions {
  margin: 72px 0 10px 0;
}
.live-chat-text .phone,
.live-chat-text .email {
  margin: 15px 0;
}

.live-chat .btn-box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.open-shop .btn-box {
  margin: 30px 0px 30px -30px;
}
.open-shop .btn-content {
  position: absolute;
  top: 79.5%;
  left: 7%;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #01a8a0;
}
.live-chat .btn-content {
  position: absolute;
  top: 81%;
  left: 18%;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #01a8a0;
}
.fa-angle-right {
  font-size: 24px;
  color: #9adb52;
  display: inline-block;
  margin-left: 17px;
}

.footer {
  clear: both;
}
.upper-content {
  position: relative;
  background-size: cover;
  height: 410px;
  background-image: url("./assets/footerimage.jpg");
  background-repeat: no-repeat;
}
.upper-content-items {
  position: absolute;
  top: 18%;
  left: 40%;
}
.upper-content-image {
  position: absolute;
  top: 52%;
  left: 40%;
}
.upper-content .text {
  font-weight: 800;
  font-size: 49px;
  line-height: 22px;
  color: #fff;
  margin-right: 255px;
}
.logo {
  display: inline-block;
  position: absolute;
  top: -22%;
  left: 14%;
}
.lower-content {
  margin-top: 0px;
  width: 100%;
  background: #000;
  float: left;
}
.lower-content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin: 0 0 26px 40px;
}
ul {
  list-style: none;
  color: #b2b5b8;
}
li {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 14px 0;
}
.list-email {
  text-decoration: underline;
}
.footer-icon {
  height: 15px;
  margin-right: 10px;
}
.footer-icon-returns {
  width: 15px;
  margin-right: 10px;
}
.company {
  width: 20%;
  float: left;
}
.shopping-with-us {
  width: 32%;
  float: right;
}
.follow-us,
.contact-us {
  width: 24%;
  float: right;
}
.follow-us .fa {
  margin-right: 20px;
  font-weight: 800;
  font-size: 17px;
}
.sub-footer {
  clear: both;
  text-align: left;
  padding: 67px 0 69px 0;
}

.sub-footer .footer-icon {
  height: 18px;
  margin-right: 20px;
}
.copyright {
  width:25%;
  float: left;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-left: 36px;
}

.payments,
.policy {
  float: right;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #56cc86;
}
.payments {
  width: 39%;
 
}
.policy {
  width: 20%;
}
.list-image {
  display: inline-block;
  width: 50px;
  text-align: center;
}
.loader, .error{
  width:350px;
  margin: 30px auto;
clear: both;
}
.error img{
  margin-bottom:-3px;
}
.error{
  background: #F8D7DA;
  padding:10px;
  border: 1px solid rgb(248, 200, 204);
  color: red;
}